<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{{ url_for ('static', filename='Imgs/newlogo5.png') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/main.css') }}">
    <script src="https://kit.fontawesome.com/6c8e01facf.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">

    <style>
    @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400&display=swap');
      </style>
    {% block head %} {% endblock %}
</head>
<body>
    <header class="header-area">
        <div class="header-container">
            <div class="site-logo">
                <a href="{{ url_for ('index') }}"><img src="{{ url_for ('static', filename='Imgs/newlogo5.png') }}" width='80px'alt=""></a>
            </div>
            <div class="mobile-nav">
                <i class="fas fa-bars"></i>
            </div>
            <div class="site-nav-menu">
                <ul class="primary-menu">
                    <li><a href="{{ url_for ('index') }}">Home</a></li>
                    <li><a href="{{ url_for('.index', _anchor='exactlocation') }}">About</a></li>
                    <li><a href="#">Class</a></li>
                    <li><a href="{{ url_for ('contact') }}">Contact</a></li>
                </ul>
            </div>
        </div>
    </header>
    <!-- <section id="hero-section"></section> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function(){
        $(".mobile-nav i").click(function(){
            $(".site-nav-menu").toggleClass("mobile-menu");
        });
    });
    </script>

    {% block body %} {% endblock %}
</body>
</html>