<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{{ url_for ('static', filename='Imgs/newlogo5.png') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/main.css') }}">
    <script src="https://kit.fontawesome.com/6c8e01facf.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">

    <style>
    @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400&display=swap');
      </style>
    {% block head %} {% endblock %}
</head>
<body>
    <header class="header-area">
        <div class="header-container">
            <div class="site-logo">
                <a href="{{ url_for ('index') }}"><img src="{{ url_for ('static', filename='Imgs/newlogo5.png') }}" width='80px'alt=""></a>
            </div>
            <div class="mobile-nav">
                <i class="fas fa-bars"></i>
            </div>
            <div class="site-nav-menu">
                <ul class="primary-menu">
                    <li><a href="{{ url_for ('index') }}">Home</a></li>
                    <li><a href="{{ url_for('.index', _anchor='exactlocation') }}">About</a></li>
                    <li><a target="_blank" href="https://sps81-my.sharepoint.com/:p:/g/personal/miller3192_sps81_org/EV8TRqDQTsxPgVALKZkRwgEBh8IV_gGT9dn-_Y_jMxnTUw?e=GNlErZ">Resources</a></li>
                    <li><a href="{{ url_for ('contact') }}">Contact</a></li>
                </ul>
            </div>
        </div>
    </header>
    <!-- <section id="hero-section"></section> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function(){
        $(".mobile-nav i").click(function(){
            $(".site-nav-menu").toggleClass("mobile-menu");
        });
    });
    </script>

    {% block body %} {% endblock %}

    <footer>
        <div class="containerb">
          <div class="sec aboutus">
            <h2>About</h2>
            <p>The Latah Valley is a unique, special, and attractive area of the city of Spokane with a deep geologic and human history. The Latah Valley is home to people who deeply appreciate the attributes and treasures of conveniences to downtown/airport balanced with a rural feel, active farming, and a vibrant wildlife corridor home to moose, deer, coyote, osprey, bald eagle, and many other creatures.
                Despite what should be protected, preserved, and a wisely planned for evolution of this area, the Latah Valley is under tremendous pressure by the City of Spokane and development interests whose pursuits are threatening not only the integrity and specialness of this area but literally the lives of the people and wildlife who call the Latah Valley home.
                Latah Valley deserves to be protected!</p>
    
            <ul class="sci">
              <li>
                <a class="instagram" href="https://www.instagram.com/sparkcode_official/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
              </li>
            </ul>
          </div>
          <div class="sec quickLinks">
            <h2>Quick Links</h2>
            <ul>
              <li><a href="{{ url_for('.index', _anchor='exactlocation') }}">About</a></li>
              <li><a href="{{ url_for ('contact') }}">Contact</a></li>
              <li><a href="{{ url_for ('privacy') }}">Privacy Policy</a></li>
              <li><a href="{{ url_for ('terms') }}">Terms and Conditions</a></li>
              <!-- register link formally here rip -->
            </ul>
          </div>
          <div class="sec contact">
            <h2>Contact Info</h2>
            <ul class="info">
              <!--
              <li>
                <span><i class="fa-solid fa-location-dot"></i></span>
                <span>Address</span>
              </li>
              -->
              <li>
                <span><i class="fa-solid fa-envelope"></i></span>
                <p><a href="mailto:millercm108@gmail.com">millercm108@gmail.com</a></p>
              </li>
              <!-- <li>
                <span><i class="fa-solid fa-phone"></i></span>
                <p><a href="tel:15097950048">+1 509 795 0048</a></p>
              </li> -->
            </ul>
          </div>
        </div>
      </footer>
      <div class="copyrightText">
        <p>© 2022 SparkCode</p>
    
      </div>

</body>
</html>