<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{{ url_for ('static', filename='Imgs/newlogo5.png') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/main.css') }}">
    <script src="https://kit.fontawesome.com/6c8e01facf.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">

    <style>
    @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400&display=swap');
      </style>
    {% block head %} {% endblock %}
</head>
<body>
    <header class="header-area">
        <div class="header-container">
            <div class="site-logo">
                <a href="{{ url_for ('index') }}"><img src="{{ url_for ('static', filename='Imgs/newlogo5.png') }}" width='80px'alt=""></a>
            </div>
            <div class="mobile-nav">
                <i class="fas fa-bars"></i>
            </div>
            <div class="site-nav-menu">
                <ul class="primary-menu">
                    <li><a href="{{ url_for ('index') }}">Home</a></li>
                    <li><a href="{{ url_for('.index', _anchor='exactlocation') }}">About</a></li>
                    <li><a target="_blank" href="https://sps81-my.sharepoint.com/:p:/g/personal/miller3192_sps81_org/EUgiNp1v1LBJq0rP4npc48ABX536w_c3lZmOHKh8hxd4fA?e=GYZDXf">Resources</a></li>
                    <li><a href="{{ url_for ('contact') }}">Contact</a></li>
                </ul>
            </div>
        </div>
    </header>
    <!-- <section id="hero-section"></section> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function(){
        $(".mobile-nav i").click(function(){
            $(".site-nav-menu").toggleClass("mobile-menu");
        });
    });
    </script>

    {% block body %} {% endblock %}

    <footer>
        <div class="containerb">
          <div class="sec aboutus">
            <h2>About</h2>
            <p>Technology has become a facet that shapes every day of our lives. From our phones, laptops, cars (even air conditioning!), the products of scientific exploration is all around us. SparkCode is a coding camp founded by local high school students in Spokane, Washington, aimed at teaching elementary through middle school students practical and interesting coding. Typical camps last 3-4 days, around an hour after school. The camps are taught to be engaging, combining critical and creative thinking within the realms of science.</p>
    
            <ul class="sci">
              <li>
                <a class="instagram" href="https://www.instagram.com/contactsparkcode/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
              </li>
            </ul>
          </div>
          <div class="sec quickLinks">
            <h2>Quick Links</h2>
            <ul>
              <li><a href="{{ url_for('.index', _anchor='exactlocation') }}">About</a></li>
              <li><a href="{{ url_for ('contact') }}">Contact</a></li>
              <li><a href="{{ url_for ('privacy') }}">Privacy Policy</a></li>
              <li><a href="{{ url_for ('terms') }}">Terms and Conditions</a></li>
              <!-- register link formally here rip -->
            </ul>
          </div>
          <div class="sec contact">
            <h2>Contact Info</h2>
            <ul class="info">
              <!--
              <li>
                <span><i class="fa-solid fa-location-dot"></i></span>
                <span>Address</span>
              </li>
              -->
              <li>
                <span><i class="fa-solid fa-envelope"></i></span>
                <p><a href="mailto:millercm108@gmail.com">millercm108@gmail.com</a></p>
              </li>
              <!-- <li>
                <span><i class="fa-solid fa-phone"></i></span>
                <p><a href="tel:15097950048">+1 509 795 0048</a></p>
              </li> -->
            </ul>
          </div>
        </div>
      </footer>
      <div class="copyrightText">
        <p>© 2022 SparkCode</p>
    
      </div>

</body>
</html>