{% extends 'base.html' %}

{% block head %}
    <title>SparkCode | Contact</title>
{% endblock %}


{% block body %}
<style>
  .alert {
    padding: 20px;
    background-color: #4CBF43;
    color: white;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }
  .login-error-h1, .login-error{
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
  }
  
  </style>



{% if success %}
<div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <h1 class="login-error-h1">Your message was sent successfully!</h1>
</div>
{% endif %}

<div class="container" style="z-index: 99;">
    <form action="#" method="POST">

        <div class="contact-box">
          <div class="left"></div>
          <div class="right">
            <h2 class="contact-form-h2">Contact Us</h2>
            <input type="text" class="field" name="name" placeholder="Your Name">
            <input type="text" class="field" name="email" placeholder="Your Email">
            <!-- <input type="text" class="field" name="subject" placeholder="Subject"> -->
            <textarea id="textarea-1" name="message" placeholder="Message" class="field"></textarea>
            <button type="Submit" class="btn">Send</button>
          </div>
        </div>
    </form>
   </div>
{% endblock %}