{% extends 'base.html' %}

{% block head %}
    <title>SparkCode | Home</title>
{% endblock %}


{% block body %}
<script>
    



</script>





    <div class="background" >
        <div class="non-mobile-item desk">
            <img src="static/Imgs/desk.png" width="300px;" alt="">
        </div>

        <div class="non-mobile-item title">
            <h1 style="text-align:center; font-family: 'Ubuntu', sans-serif; margin-top: 10px;">Explore the World of SparkCode <i class="fa-solid fa-code"></i></h1>
            <br>
            <div style="margin: auto;" class="typingEffect1">
                Teaching kids to code.
            </div>
        </div>

        <div class="non-mobile-item desk desk2">
            <img class="desk2" src="static/Imgs/code.png" width="300px;" alt="">
        </div>

    </div>

    <div class="mobile-background">
        <div class="mobile-item">
            <h1 style="text-align:center; font-family: 'Ubuntu', sans-serif; margin-top: 10px;">Explore the World of SparkCode <i class="fa-solid fa-code"></i></h1>
            <br>
            <div style="margin: auto;" class="typingEffect1">
                Teaching kids to code.
            </div>
        </div>
           <div class="mobile-item">
               <img src="static/Imgs/desk.png" width="90%" style="margin-left:5%;" alt="">
           </div>
           
    </div>


<div class="wrapper">
    <div class="about-container">
            <h1 class="index-head" id="exactlocation" >About Us</h1>
        <hr class="about-hr">
        <p class="about-p">Technology has become a facet that shapes every day of our lives. From our phones, laptops, cars (even air conditioning!), the products of scientific exploration is all around us. SparkCode is a coding camp founded by local high school students in Spokane, Washington, aimed at teaching elementary through middle school students practical and interesting coding. Typical camps last 3-4 days, around an hour after school. The camps are taught to be engaging, combining critical and creative thinking within the realms of science.</p>

        <p class="about-p"> 
            Past camps have been on the topics of Scratch, where students learned to program their own games. Students will spend the first days completing lessons taught by instructors before eventually completing a final project! The final project tends to be the student’s favorite aspect, as they also receive the opportunity to showcase their learning and what they created! For 2023 camps students will learn about creating their own website using HTML and CSS. Camps are taught beginner friendly, and zero coding experience is necessary.
        </p>

        <h1 class="index-head" id="exactlocation" >Initiative</h1>
        <hr class="about-hr">
        <p class="about-p">The initiative of SparkCode is to expose younger students to heart of science and the possibilities of code. Often, computer science classes are saved until High School, but with the work we have done, it is evident that younger students are perfectly capable of understanding practical computer science methodology. It never ceases to amaze us, the incredible amount of learning students accomplish in just 4 days. The ability to code and utilize technology is a valuable tool. Whether it be through activism, community efforts, global initiatives, code has the possibility to influence the world.</p>

        <p class="about-p"> By spreading of our love of science, we hope to inspire young students to utilize technology to aid their communities and learning. STEM is a growing field, and the values of science and code continue to shape our world.
        </p>
    </div>


<div class="card-container">
    <a style="text-decoration: none;" target="_blank" href="https://sps81-my.sharepoint.com/:p:/g/personal/miller3192_sps81_org/EV8TRqDQTsxPgVALKZkRwgEBh8IV_gGT9dn-_Y_jMxnTUw?e=GNlErZ">
        <div class="card2 resources-card">
            <img src="static/Imgs/document.gif" width="100%" style="border-top-right-radius:16px ; border-top-left-radius: 16px;" alt="">
            <h3 style="font-family: 'Ubuntu', sans-serif">Resources</h3>
            <i class="fa-solid fa-arrow-right-long"></i>
        </div>
        
    </a>
    <a style="text-decoration: none;" href="{{ url_for ('contact') }}">
        <div class="card2 contact-card">
            <img src="static/Imgs/message.gif" width="100%" style="border-top-right-radius:16px ; border-top-left-radius: 16px;" alt="">
            <h3 style="font-family: 'Ubuntu', sans-serif;">Contact</h3>
            <i class="fa-solid fa-arrow-right-long"></i>
        </div>
    </a>
</div>
</div>

    
{% endblock %}


