{% extends 'base.html' %}

{% block head %}
    <title>SparkCode | Home</title>
{% endblock %}


{% block body %}
<script>
    



</script>





    <div class="background" >
        <div class="non-mobile-item desk">
            <img src="static/Imgs/desk.png" width="300px;" alt="">
        </div>

        <div class="non-mobile-item title">
            <h1 style="text-align:center; font-family: 'Ubuntu', sans-serif; margin-top: 10px;">Explore the World of SparkCode <i class="fa-solid fa-code"></i></h1>
            <br>
            <div style="margin: auto;" class="typingEffect1">
                Teaching kids to code.
            </div>
        </div>

        <div class="non-mobile-item desk desk2">
            <img class="desk2" src="static/Imgs/code.png" width="300px;" alt="">
        </div>

    </div>

    <div class="mobile-background">
        <div class="mobile-item">
            <h1 style="text-align:center; font-family: 'Ubuntu', sans-serif; margin-top: 10px;">Explore the World of SparkCode <i class="fa-solid fa-code"></i></h1>
            <br>
            <div style="margin: auto;" class="typingEffect1">
                Teaching kids to code.
            </div>
        </div>
           <div class="mobile-item">
               <img src="static/Imgs/desk.png" width="90%" style="margin-left:5%;" alt="">
           </div>
           
    </div>

<div class="wrapper">
    <div class="about-container">
            <h1 class="index-head" id="exactlocation" >About Us</h1>
        <hr class="about-hr">
        <p class="about-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ipsum dolor sit amet consectetur adipiscing. 
            Vel risus commodo viverra maecenas. Imperdiet sed euismod nisi porta lorem mollis aliquam ut porttitor. Turpis in eu mi bibendum. Dictumst quisque sagittis purus sit 
            amet volutpat consequat. Tristique senectus et netus et malesuada fames ac. Egestas diam in arcu cursus. Lectus mauris ultrices eros in. Non pulvinar neque laoreet 
            suspendisse interdum. Volutpat consequat mauris nunc congue nisi. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper. Nibh venenatis cras sed felis 
            eget velit aliquet sagittis id. Sed augue lacus viverra vitae congue. Lorem ipsum dolor sit amet consectetur adipiscing elit. Pretium lectus quam id leo. Egestas integer 
            eget aliquet nibh praesent tristique magna sit</p>

        <p class="about-p"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet tellus cras adipiscing enim eu. Tempor orci dapibus 
            ultrices in iaculis nunc. Rhoncus aenean vel elit scelerisque mauris pellentesque. Consequat ac felis donec et odio pellentesque. Maecenas sed enim ut sem viverra aliquet 
            eget. Eu facilisis sed odio morbi quis. Sed enim ut sem viverra aliquet eget. Placerat duis ultricies lacus sed turpis tincidunt id aliquet. Posuere ac ut consequat semper. Risus 
            quis varius quam quisque id diam. Auctor eu augue ut lectus arcu bibendum at varius vel.
        </p>

        <h1 class="index-head" id="exactlocation" >Initiative</h1>
        <hr class="about-hr">
        <p class="about-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ipsum dolor sit amet consectetur adipiscing. 
            Vel risus commodo viverra maecenas. Imperdiet sed euismod nisi porta lorem mollis aliquam ut porttitor. Turpis in eu mi bibendum. Dictumst quisque sagittis purus sit 
            amet volutpat consequat. Tristique senectus et netus et malesuada fames ac. Egestas diam in arcu cursus. Lectus mauris ultrices eros in. Non pulvinar neque laoreet 
            suspendisse interdum. Volutpat consequat mauris nunc congue nisi. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper. Nibh venenatis cras sed felis 
            eget velit aliquet sagittis id. Sed augue lacus viverra vitae congue. Lorem ipsum dolor sit amet consectetur adipiscing elit. Pretium lectus quam id leo. Egestas integer 
            eget aliquet nibh praesent tristique magna sit</p>

        <p class="about-p"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet tellus cras adipiscing enim eu. Tempor orci dapibus 
            ultrices in iaculis nunc. Rhoncus aenean vel elit scelerisque mauris pellentesque. Consequat ac felis donec et odio pellentesque. Maecenas sed enim ut sem viverra aliquet 
            eget. Eu facilisis sed odio morbi quis. Sed enim ut sem viverra aliquet eget. Placerat duis ultricies lacus sed turpis tincidunt id aliquet. Posuere ac ut consequat semper. Risus 
            quis varius quam quisque id diam. Auctor eu augue ut lectus arcu bibendum at varius vel.
        </p>
    </div>


<div class="card-container">
    <a style="text-decoration: none;" target="_blank" href="https://sps81-my.sharepoint.com/:p:/g/personal/miller3192_sps81_org/EZacHQlAlTZEse5A92bFFmEBqwVXsdpsyHG1ESMK902w-g?e=fEJizk">
        <div class="card2 resources-card">
            <img src="static/Imgs/document.gif" width="100%" style="border-top-right-radius:16px ; border-top-left-radius: 16px;" alt="">
            <h3 style="font-family: 'Ubuntu', sans-serif">Resources</h3>
            <i class="fa-solid fa-arrow-right-long"></i>
        </div>
        
    </a>
    <a style="text-decoration: none;" href="{{ url_for ('contact') }}">
        <div class="card2 contact-card">
            <img src="static/Imgs/message.gif" width="100%" style="border-top-right-radius:16px ; border-top-left-radius: 16px;" alt="">
            <h3 style="font-family: 'Ubuntu', sans-serif;">Contact</h3>
            <i class="fa-solid fa-arrow-right-long"></i>
        </div>
    </a>
</div>
</div>

    
{% endblock %}


