{% extends 'base.html' %}

{% block head %}
    <title>SparkCode | Home</title>
{% endblock %}


{% block body %}
    <div class="background layer1">
        <div class="box">
         <h1>Explore the World of Code <i class="fa-solid fa-code"></i></h1>
        </div>
    </div>
    <h1 class="index-head">Initiative</h1>
    <p id="exactlocation">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ipsum dolor sit amet consectetur adipiscing. 
        Vel risus commodo viverra maecenas. Imperdiet sed euismod nisi porta lorem mollis aliquam ut porttitor. Turpis in eu mi bibendum. Dictumst quisque sagittis purus sit 
        amet volutpat consequat. Tristique senectus et netus et malesuada fames ac. Egestas diam in arcu cursus. Lectus mauris ultrices eros in. Non pulvinar neque laoreet 
        suspendisse interdum. Volutpat consequat mauris nunc congue nisi. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper. Nibh venenatis cras sed felis 
        eget velit aliquet sagittis id. Sed augue lacus viverra vitae congue. Lorem ipsum dolor sit amet consectetur adipiscing elit. Pretium lectus quam id leo. Egestas integer 
        eget aliquet nibh praesent tristique magna sit</p>
{% endblock %}


